* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #313338;
    color: #bab5bc;
    
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    place-self: right;
    background-color: aqua;
}

.btn {
    float: right;
    clear: left;
    background-color: #6898e1;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
    bottom: 1.5rem;
}

h2 {
    color: #fff;
    padding-bottom: 1rem;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main  {
    display: flex;
    margin-left: 20.5vw;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

nav {
    background-color: #2b2d31;
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100vmax;
    width: 20vw;
    position: fixed;
    top: 0;
    left: 0;
}

nav img {
    width: 80px;
    height: auto;
    float: left;
    margin-top: 0.5rem;
}
nav ul {
    list-style-type: none;
    margin-top: 0.5rem;
    border-top: 1px solid;
}

nav ul li {
    display: block;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #c0c0c0;
    padding:  3% 7.25vw;
    width: 20vw;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.5);
}

nav ul li a:hover {
    background-color: gray;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #e0d8d8;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 30px;
    }

    section {
        padding: 10px;
    }
}

@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }

    nav ul li {
        margin-right: 0;
    }
}
